@model Facturacion.Entity.BusinessEntity.General.BEDocIdentidad
@{
    ViewBag.Title = "VistaUPD";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Actualizar Documento de Identidad</h2>

<h3>@Model.pIDDocumento</h3>
